<h1>Activities</h1>
<form class="search-filters">
    <div class="row">
        <div class="col-sm-3">
            <label class="form-label" for="type">Type</label>
            <select class="form-select" name="type" id="type">
                <option value="All">All</option>
                <option value="Indoor">Indoor</option>
                <option value="Outdoor">Outdoor</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" name="location" id="location">
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="keyword">Keyword</label>
            <input class="form-control" type="text" name="keyword" id="keyword">
        </div>
        <div class="col-sm-3">
            <input class="btn btn-primary" type="submit" name="search" value="Search">
        </div>
    </div>
</form>
