.navigation-bar {
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid #cacbcf;
}
.navigation-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.navigation-bar i {
    font-size: 2rem;
    color: #785964;
    vertical-align: middle;
    line-height: 3rem;
    display: inline-block;
    margin-right: 1rem;
}
.navigation-bar ul {
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.navigation-bar li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 100%;
}
.navigation-bar li a {
    color: #000;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    vertical-align: middle;
    line-height: 3rem;
}
.navigation-bar li a:hover {
    color: #785964;
}
.navigation-bar li.active {
    border-bottom: 4px solid #785964;
}

.main {
    width: 80%;
    margin: 0 auto;
}