<!-- Main navigation bar -->
<div *ngIf="token">
  <div class="navigation-bar">
    <div class="navigation-container">
      <div class="logo">
        <i class="fa-solid fa-mountain fa-2xl"></i>
      </div>
      <div class="navigation-menu">
        <ul>
          <li routerLinkActive="active"><a routerLink="/activities-list">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/user-activities">Activities</a></li>
          <li routerLinkActive="active"><a routerLink="/places-list">Places</a></li>
        </ul>
      </div>
      <div class="navigation-user">
        <ul>
          <!-- If the local storage has a token, we show the logout button, otherwise we show a login and register button -->
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="!token">
  <div class="rounded_box">
    <div *ngIf="state == 'login'">
      <app-login [childValue]="state" (valueChanged)="onChildValueChange($event)"></app-login>
  </div>
  <div *ngIf="state == 'register'">
    <app-register [childValue]="state" (valueChanged)="onChildValueChange($event)"></app-register>
  </div>
</div>

