<div class="login-container">
  <form (ngSubmit)="onSubmit()" class="needs-validation">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username" [(ngModel)]="username" required #usernameInput="ngModel" [ngClass]="{'is-invalid': usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)}">
    
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" [(ngModel)]="password" required
    #passwordInput="ngModel" [ngClass]="{'is-invalid': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)}">
    
    <div *ngIf="errorMessage.length > 0" style="color: red;">
      {{errorMessage}}
    </div>
    <!-- Submit button, disabled if form is invalid -->
    <div class="row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    <div class="row">
      <div class="col-sm-6">
        <p class="link-text" (click)="register()">Register</p>
      </div>
    </div>
    </div>
  </form>
</div>