.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.login-container form {
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  border: 1px solid #ccc;
}

.login-container button {
  margin-top: 20px; /* Add some top margin to the submit button */
}

.link-text {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}