<!-- We create a form to create new activities -->
<!-- We need to fill the name, description, date and time and duration -->
<!-- We also need to select a place from the list of places -->
<h1>New activity</h1>
<div class="rounded_box" *ngIf="step == 0">
    <h2>Activity details</h2>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" [(ngModel)]="activity.name" name="name" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" [(ngModel)]="activity.description" name="description" id="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" [(ngModel)]="activity.date" name="date" id="date">
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input type="time" class="form-control" [(ngModel)]="time_string" name="time" id="time">
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input type="number" class="form-control" [(ngModel)]="activity.duration" name="duration" id="duration" placeholder="Duration in minutes">
        </div>
        <div class="form-group">
            <label for="place">Place</label>
            <select class="form-control" [(ngModel)]="place_id" name="place" id="place">
                <option *ngFor="let place of places" [value]="place.place_id">{{ place.name }}</option>
            </select>
        </div>
    </form>
</div>
<button *ngIf="step == 0" type="submit" class="btn btn-primary" (click)="createActivity()">Next</button>
<app-climbs-list [activity_id]="activity_id" [place_id]="place_id" *ngIf="step == 1"></app-climbs-list>

<a *ngIf="step == 1" [routerLink]="['/user-activities']" class="btn btn-primary" style="margin-bottom: 20px;">Complete</a>

